.container {
  display: grid;
  justify-content: center;
}

.selectContainer {
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 0.5rem;
  margin: 0 1rem;
  margin-top: 1rem;
}

.select {
  background-color: var(--color-secondary);
  width: 100%;
  height: 1.5rem;
  color: var(--color-text-effect);
  font-size: 1rem;
  text-align: left;
  padding-left: 0.8rem;
  border: none;
  border-radius: var(--border-radius-button);
  align-content: center;
}

.showAll {
  background-color: var(--color-secondary);
  text-align: center;
  color: var(--color-text-effect);
  height: 1.5rem;
  font-size: 1rem;
  border-radius: var(--border-radius-button);
  align-content: center;
}
