.container {
  display: grid;
}

.form {
  margin: 1.5rem;
  height: 75vh;
  display: grid;
  grid-template-rows: 12rem 1fr 1.5rem 2fr 1.5rem;
  gap: 1rem;
}

.image {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: var(--border-radius-card);
}

.titleInput {
  text-align: center;
  font-size: 1.2rem;
  border: none;
}

.textInput {
  background-color: var(--color-primary);
  color: var(--color-text-effect);
  border: none;
  border-radius: var(--border-radius-card);
  text-align: center;
}

.dateInput {
  font-size: 0.8rem;
  border: solid var(--color-primary) 0.1rem;
  border-radius: var(--border-radius-button);
  font-family: var(--font-text);
  text-align: center;
}

input.textInput::placeholder {
  color: var(--color-text-effect);
}

.button {
  width: 4.5rem;
}
