.container {
  display: grid;
  grid-template-columns: 1fr 2fr;
  background-color: var(--color-primary);
  height: 25vh;
  overflow: hidden;
  margin: 1rem;
  place-items: center;
  align-items: center;
  border-radius: var(--border-radius-card);
  animation: fadein 2s;
}

@keyframes fadein {
  from {
    opacity: 0.4;
  }

  to {
    opacity: 1;
  }
}

.dateContainer {
  display: grid;
  place-items: center;
  align-content: center;
}

.dateDay {
  color: var(--color-text-effect);
  font-size: 3rem;
  margin: 0;
}

.dateMonth {
  color: var(--color-text-effect);
  margin: 0;
}

.image {
  height: 100%;
  width: 100%;
  object-fit: cover;
  overflow: hidden;
}

.text {
  background-color: var(--color-background);
  display: flex;
  align-items: center;
  justify-items: center;
  height: 100%;
  margin: 0;
  padding: 1rem;
  border: solid 1.5px var(--color-primary);
  border-radius: 0 var(--border-radius-card) var(--border-radius-card) 0;
}
