.button {
  background-color: var(--color-secondary);
  border: none;
  text-align: center;
  color: var(--color-text-effect);
  min-width: 3rem;
  height: 1.5rem;
  font-size: 1rem;
  border-radius: var(--border-radius-button);
}

.button:hover {
  background-color: var(--color-effect);
}

.button:active {
  background-color: var(--color-effect);
  transform: translateY(3px);
}
