.container {
  display: grid;
  place-content: center;
  overflow: hidden;
  box-shadow: none;
}

.navigation {
  z-index: 10;
}

.dateContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  background-color: var(--color-primary);
  margin: 1.5rem 1rem 0;
  height: 10rem;
  width: 90%;
  border-radius: var(--border-radius-card);
  padding: 1rem;
  animation: fadein 0.8s;
}

@keyframes fadein {
  from {
    opacity: 0.7;
  }

  to {
    opacity: 1;
  }
}

.date {
  justify-self: start;
  color: var(--color-text-effect);
  font-size: 2rem;
}

.icon {
  justify-self: end;
}

.calendar {
  margin: 1rem;
  overflow: hidden;
  z-index: 0;
  width: 100%;
}
