.container {
  display: grid;
  margin: 1.5rem 1rem;
  text-align: center;
  overflow: hidden;
  gap: 1.5rem;
}

.image {
  width: 100%;
  max-height: 15rem;
  object-fit: cover;
  overflow: hidden;
  border-radius: var(--border-radius-card);
}

.text {
  font-size: 1rem;
  text-align: justify;
}

.delete {
  background-color: var(--color-secondary);
  height: 1.5rem;
  color: var(--color-text-effect);
  border-radius: var(--border-radius-button);
}

.delete:hover {
  background-color: var(--color-effect);
}

.delete:active {
  background-color: var(--color-effect);
  transform: translateY(3px);
}
