@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  /* COLORS */
  --color-background: #fff;
  --color-primary: #93c1be;
  --color-secondary: #02734a;
  --color-effect: #e5b565;
  --color-text-primary: #302f32;
  --color-text-effect: #fcfcfc;
  --color-text-inactive: #acacac;

  /* TYPOGRAPHY */
  --font-text: 'Quicksand', sans-serif;

  /* BORDER-RADIUS */
  --border-radius-card: 10px;
  --border-radius-button: 5px;
}

body {
  margin: 0;
  font-family: var(--font-text);
  padding: 0;
}

h1 {
  font-size: 1.3rem;
  margin: 0;
}

a {
  text-decoration: none;
}
