.container {
  background-color: var(--color-secondary-light);
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.navLinks {
  display: flex;
  justify-content: space-around;
  width: 60%;
}

.navLinks li {
  list-style: none;
}

.activeLink {
  color: var(--color-text-effect);
  text-decoration: none;
  font-size: 0.9rem;
}

.inactiveLink {
  color: var(--color-text-inactive);
  text-decoration: none;
  font-size: 0.9rem;
}

.burger {
  display: none;
}

.burger div {
  display: block;
  width: 1.5rem;
  height: 0.1rem;
  background-color: var(--color-text-effect);
  margin: 0.2rem;
}
